body {
    margin: 0;
    padding: 0;
}

/* Background */

.background-container {
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.background-container img {
    filter: blur(2px);
    height: auto;
    width: 100%;
}
.background-container .translucent {
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
}

/* Title */

.title {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
}
.title h1 {
    color: #FFF;
    font-size: 64px;
    font-weight: bold;
    padding: 4px;
    text-align: center;
}

/* Content */

.content {
    position: absolute;
    margin-left: 34%;
    margin-top: 300px;
}

.form-title,
.fields,
.result {
    background: rgba(0, 0, 0, 0.7);
}

.form-title h1 {
    color: #FFF;
    font-size: 40px;
    padding: 28px;
}

.fields {
    position: relative;
    margin-bottom: 70px;
    padding: 28px;
}
.fields input[type=text] {
    font-size: 20px;
    height: 40px;
    width: 500px;
    margin-right: 40px;
}
.fields input[type=text]:focus {
    border-color:#333;
}
.fields button {
    background: #ccc;
    border: 0 none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    padding: 12px 26px; 
}
.fields .arrow {
    display: none;
    position: absolute;
    bottom: -49px;
    left: calc(50% - 50px);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 50px 0 50px;
    border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
}

.result {
    display: none;
    color: #FFF;
    font-size: 38px;
    padding: 20px;
    text-align: center;
}
.result span {
    font-size: 46px;
    font-weight: bold;
}